<div class='row'>
  <% users.each do |user| %>
    <div class='col-lg-2'>
      <%= link_to(user) do %>
        <%= image_tag profile_url(user) %><br>
        <%= user.name %>
      <% end %>
    </div>
  <% end %>
</div>