<table class='table'>
      <tr><%= image_tag profile_url(user) %></tr> 
      <tr>
    	  <th>name</th>
    	  <th><%= user.name %></th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th><%= user.introduction %></th>
      </tr>
    </table>
    <div class='row'>
      <% if correct_user?(user) %>
        <%= link_to 'edit',edit_user_path(user),class: 'col-lg-12 btn btn-default' %>
      <% end  %>
    </div>