<%= render 'users/user-header',user: @user%>
<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'info', user: @user%>
  </div>    

  <div class='col-xs-9'>
  	<h2>followers</h2>
    <% if @accepted %>
      <%= render 'index', users: @followers %>
    <% else %>
      <%= render 'layouts/protected' %>
    <% end %>
  </div>
</div>