<div class='row'>
  
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'info', user: @user, now: 'followers'%>

    <!-- <h2>New book</h2>
    <%= render 'books/form', book: @book %>
 -->
  </div>
  

  <div class='col-xs-9'>
  	<h2>followers</h2>
    <% if @accepted %>
      <%= render 'index', users: @followers %>
    <% else %>
      <%= render 'layouts/protected' %>
    <% end %>
  </div>

</div>