<div class='row'>
  <div class='col-xs-3'>
    <%= render 'users/mini-info', user: current_user,now: ''%>
  </div>

  <div class='col-xs-9'>
    <h2>Users</h2>
    <%= render 'users/search' %>
    <br>
    <% if !@type.blank? %>
      <p><strong><%= @type.category %></strong>に興味のあるユーザー一覧</p>
    <% end %>

    <%= render 'users/index',users: @users %>
  </div>

</div>