<div class="row">
  <div class='top-message col-md-offset-3 col-md-6'>
    <h1><span class='glyphicon glyphicon-book'><strong>Bookers</strong>とは？</h1>
          <p>みなさんは読書が好きですか？</p>
          <p>読書を通じて私たちは、</p>
          <p>古今東西あらゆる人の考え方や経験、想像の世界を体験できます。</p>
          <p><span class='glyphicon glyphicon-book'></span><strong>Bookers</strong>は、 そうした読書を通じた体験、本の感想や意見を交換し合うアプリです。</p>
          <p>自分のお気に入りの一冊をみんなに紹介するもよし、本の解釈について語り合うもよし、他の人のお気に入りの本を新しく読んでみるもよし。</p>
          <p>すべての読書好きのための、コミュニティアプリです。</p>

    <div class="btn-wrapper">
      <div class="row">
         <p><%= link_to 'ログイン',new_user_session_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %></p>
      </div>
      <div class="row">
        <p><%= link_to 'さあ、始めましょう！',new_user_registration_path, class: "btn btn-success col-xs-10 col-xs-offset-1" %></p>
      </div>
    </div>
            
  </div>
</div>