<div class='row'>  
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/info', user: @user ,now: ''%>
  </div>
  

  <div class='col-xs-9'>
    <h2>Book detail</h2>
    <% if @accepted %>      
  		<%= render 'books/info', book: @book,user: @user %>

      <h3>favors</h3>
      <%= render 'users/index',users: @favors %>

    <% else %>
      <%= render 'layouts/protected' %>
    <% end %>

  </div>
</div>