<div class='row'>

	<div class='col-xs-3'>
    <% if !current_user.blank? %>
	    <%= render 'users/mini-info', user: current_user,now: ''%>
	   <% end %>
  </div>

  <div class='col-xs-9'>
    <h2>Books</h2>
    
    <%= render 'books/search' %>
    <% if !@type.blank? %>
      <p><strong><%= @type.category %></strong>に関する投稿一覧</p>
    <% end %>
    <%= render 'books/index' ,books: @books%>
  </div>
</div>