/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html{
	height:100%;	
}
body{
	height:100%;
}

//header
header{
	color:white;
	.navbar-left{
		span{
			font-size:20px;
			padding-top:10px;
		}
	}
}

.menu{
	.btn-primary{
		color:white;
	}
}
//footer
footer{
	width:100%;
	color:white;
	background-color:rgba(0,0,0,0.5);
	position:fixed;
	bottom:0px;
}

//aのhover用
a:hover{
	color:orange;
  background-color:transparent;
}

//icon-modal
#icon-modal{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	z-index:1;
	img{
		position:fixed;
		right:35%;
		bottom:30%;
		width:30%;
	}
}

//skippr用の設定
.homeBody{
	width:100%;
	height:100%;
}
#container{
	height:100%;
	width:100%;
	position:fixed;
	top:51px;
	z-index:-1;
}
.flame{
	width:80%;
	padding-bottom:20px;
	height:100%;
	margin:30px auto;
	border-radius:15px;
	text-align:center;
	background-color:rgba(0,0,0,0.4);
	color:white;
	form{
		input{
			color:gray;
		}
	}
	a{color:white;}
}



.body{
	padding-top:51px;
}


.header-image{
	width:100%;
	height:300px;
	background-size:cover;
	position:relative;
}


//time lineのユーザー情報用
.tl-info{
	width:100%;
	height:100px;
	border-radius:5px 5px 0 0;
	position:relative;
	padding-left:20px;
	padding-top:40px;
	margin-bottom:30px;
	margin-top:10px;
}
.tl-name{
	position:absolute;
	left:120px;
	top:105px;
}
.left-bottom{
	margin-top:100px;
}
.icon-image{
	border-radius:5px;
	border:rgba(240,240,240,1) solid 2px;
}


//user edit用
#profile-edit{
	display:none;
}
#cancel-profile{
	display:none;
}
.user-edit-table{
	margin-bottom:0px;
}


//header image編集用
.header-edit{
	text-align:center;
	input{
		margin:0 auto;
	}
	color:white;
	height:100%;
	padding-top:5%;
	background-color:rgba(0,0,0,0.7);
	z-index:1;
	display:none;
}
#edit-header{
	position:absolute;
	right:0;
	top:100%;
}


//users#index用
.user-index{
	height:300px;
	border-radius:5px;
	position:relative;
	margin-bottom:15px;
}
.user-index-btn{
	float:right;
}
.interest-tl{
	position:absolute;
	left:30px;
	right:30px;
	bottom:0;
}





//new book modal用
#book-new{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	z-index:1;
}
#book-edit{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	z-index:1;
}
.book-new{
	margin-top:150px;
	border-radius:5px;
	padding:0;
	background-color:rgba(255,255,255,1);
	.glyphicon-star{
		color:orange;
	}
	.book-new-body{
		padding:50px;
	}
	.book-new-header{
		background-color:rgba(0,0,0,0.5);
		padding:10px;
		color:white;
		text-align:center;
		.right{
			float:right;
		}
	}
}


//draft list
#draft-list{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	z-index:2;
}
.book-draft{
	margin-top:150px;
	border-radius:5px;
	padding:0;
	background-color:rgba(255,255,255,1);
	.glyphicon-star{
		color:orange;
	}
	.book-draft-body{
		padding:50px;
	}
	.book-draft-header{
		background-color:rgba(0,0,0,0.5);
		padding:10px;
		color:white;
		text-align:center;
		.right{
			float:right;
		}
	}
}






//new interest
#interest-new{
	display:none;
}
#cancel-interest{
	display:none;
}
.remove-interest{
	color:transparent;
}